* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color:  #2d2d2d;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #6d0077;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffff;
}

.brand-list {
  text-decoration: none;
  color: #ffffff;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #000000;
  font-weight: bold;
}


.logout {
  background: #6d0077;
  border: 1px solid #000000;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

.login {
  background: #2d2d2d;
  border: 1px solid red;
  padding: 10px;
  text-decoration: none;
  line-height: 32px;
  margin-right: 2vw;
  color: red;
}

.sign-up {
  background: #2d2d2d;
  border: 1px solid #0095EE;
  padding: 10px;
  text-decoration: none;
  color: #0095EE;
}