<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname %>
  </div>
  <div class="create-room">
    <%= link_to "新規フォルダを作成する" %>
  </div>
</div>
<div class="rooms">
  <%# <% current_user.folders.each do |folder| %>
    <%# <div class="room"> %>
      <%# <div class="room-name"> %>
        <%# <%= link_to folder.title %> %>
      <%# </div> %>
    <%# </div> %>
  <%# <% end %> %> %>
</div>