.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-purple-btn {
  width: 100%;
  background: #6d0077;
  border: 1px solid #6d0077;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}